@media (prefers-color-scheme: light),(prefers-contrast: less) {
    :root{
 --background: #d8d6cd;
 --menu: #c5ac70;
 --line: #c49b51;
 --border: #e66717;
 --link: #d15b23;
 --title: #b54b26;
 --text: #3e0f0c;
    }
}

@media (prefers-color-scheme: dark),(prefers-contrast: more) {
    :root{
 --background: #0c0101;
 --menu: #6d2318;
 --line: #943822;
 --border: #e47215;
 --link: #d47f25;
 --title: #c98c3a;
 --text: #cbbf98;
    }
}

a{
    color: var(--link);
}

hr{
    color: var(--line);
    background-color: var(--line);
    width: 50%;
}

*{
    background: var(--background);
    color: var(--text);
    box-sizing: border-box;
    scrollbar-color: var(--link) var(--menu);
    font-family: sans-serif;
    font-variant:small-caps !important;
    cursor: auto;
}

*:not(#oneko, img, td){
   
    background-attachment: fixed;
}

summary, details, details>*, details>*>*, details>*>*>*{
/*align:center !important;*/
text-align:center !important;
}

.details>*:before,.details:before{
display:none;
}

details>*>*,details>*>*>*{
list-style-type:none !important;
padding:0 !important;
}

html,body{
margin:0;
}

body{
height:99vh;
height:99svh;
display:flex;
flex-direction:column;
align-items: center;
}
*:not(:is(body,html,head,li,ul,ol,li>*,ul>*,ol>*)){
    text-align: center;
}

body#table{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.nav{
    color: var(--title);
    background-color: var(--menu);
    border: 3px solid var(--border);
    padding:5px;
    margin:2px;
    width:100vw;
    gap: 5px;
    position:sticky;
    text-align:center;
}
.frame{
    color: var(--title);
    background-color: var(--menu);
    border: 3px solid var(--border);
    padding:5px;
    margin:2px;
    display:block;
}
h3, h4, h5, h6{
    margin: 0;
    display:inline-block;
    /*align:left;*/
}
.nav > * , .nav > * > *{
    background-color: var(--menu);
}
.title, .title>*, .title>*>* ,#project{
    font-variant: small-caps;
}

#table{
    display:grid;
    grid-template-columns: auto auto auto auto;
}
#game{
    border: 3px solid var(--border);
    padding:5px;
    display:block;
    margin:5px;
}
#game::after{
    clear:both;
}
button{
    border: 3px solid var(--border);
    padding:5px;
}
button:disabled{
    border: 3px solid var(--line);
    padding:5px;
}
#project{
    border: 3px solid var(--border);
    padding:5px;
    display:block;
    margin:5px;
}
#project::after{
    clear:both;
}

#link{
    border: 3px solid var(--border);
    padding:10px;
    display:inline-block;
    margin:10px;
    box-sizing: border-box;
}
#link>*{
  vertical-align: middle;
}

nav > * {
    border: 3px solid var(--border) !important;
    padding:5px !important;

}

nav > * > * {
        all: unset;
        padding:5px !important;
}

.laser-cursor {
    cursor: url(./icons/lasermouse.png), auto !important;
}

.laser-cursor-disabled {
    cursor: url(./icons/laseroff.png), auto !important;
}
