body {
  color: #1e1;
  background-color: #000;
  margin: 20px;
  font-family: monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

@media (min-width: 800px) {
  body {
    max-width: 760px;
    margin: 20px auto;
    padding: 0 20px;
  }
}

.description {
  margin-bottom: 30px;
}

.posts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.posts__post {
  margin: 40px 0;
  padding: 0;
}

.post__title {
  font-family: monospace;
  font-size: 22px;
  line-height: 36px;
}

.post__link, .post__more {
  color: inherit;
}

.post__time {
  font-size: 12px;
  font-style: italic;
}

/*# sourceMappingURL=rss-xsl.css.map */
