@font-face {
  font-family: bright_linger;
  src: url(./gamemods.ttf);
}
      html, body{
        background-color: #003f3f;
        scroll-behavior: smooth;
      }
      b{
        display:block;
        text-align: center;
        font-variant: small-caps;
        text-shadow: -1px 0 #ff003fa0 , 1px 0 #00bfffa0;
        font-size: 24px;
        font-weight: 550;
      }
      div{
        white-space: pre-line;
      }
      *{
        font-variant: small-caps;
        color: #bfbf7f;
        font-family: bright_linger;
        font-size: 20px;
      }
      body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      hr{
        border: 5px double transparent;
        border-bottom:  10px ridge #3f7f7f !important;
      }
     /* shr{
        border: 5px double transparent;
        border-bottom:  10px ridge #3f7f7f !important;
        display:block;
        width:50%;
        text-align:center;
      }*/      
      body > *{
       /*background-color: #007f7f;*/
        border: 5px solid transparent;
        border-style: inset;
        filter: drop-shadow(-1px 0 #ff003fa0) drop-shadow(1px 0 #00bfffa0) /*drop-shadow(0 1px #ffffffa0)*/;
        border-bottom: 5px inset #3f7f7f;
        width:80%;
        display:block;
        padding: 2px;
      }
      details>*{
       /*background-color: #007f7f;*/
        border: 5px solid transparent;
        border-style: inset;
        border-bottom: 5px inset #3f7f7f;
        width:80%;
        display:block;
        padding: 2px;
      }
      summary::before{
      	content: "→ ";
      }
      details[open]>summary::before{
      	content: "↓ ";
      }
      ::selection{
        color: #ffbf7f;
        text-shadow: -1px 0 #ff003fa0 , 1px 0 #00bfff;
        font-family: monospace;
        background-color: #007f7f;
      }
      img,video,iframe,canvas,blockquote{
        image-rendering: crisp-edges;
        margin:auto;
        display:block;
      }
